#TOC {
  color: #5514B3;
  font-family: Calibri;
  font-size: 16px; 
  border-color: #708090;
}

h1.title {
  color: #5514B3;
  background-color: #F5F5F5;
  font-family: Calibri;
  font-size: 32px;
}

h4.date {
  color: #5514B3;  
  font-family: Calibri;
  background-color: #F5F5F5;
}

body {
  color: #5514B3;
  font-family: Calibri;
  background-color: #F5F5F5;
}

pre {
  color: #9D9D9D;
  background-color: #F8F8FF;
}